@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0; /* Rimuove tutti i margini */
  padding: 0; /* Rimuove il padding */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* Assicura un calcolo corretto del box model */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
